.piedepag{
       
    .ig{
        width: 20px;
        margin: 5px;
    }
    
    .pagweb{
        width: 20px;
        margin: 5px;
    }
    
    .correo{
        width: 20px;
        margin: 5px;
    }
}

