.imagenBio {
    width: 500px;
}

.imagenEscr {
    width: 500px;
}


.imggale  {
    width: 500px;
    padding: 10px;
    opacity: 60%;
    border-radius: 100%;
    transition: all 2s;
    &:hover{
        border-radius: 0%;
        opacity:100%;
    }
}