.imagenBio {
    width: 500px;
}

.imagenEscr {
    width: 100%;
}


.imggale  {
    width: 100%;
    padding: 10px;
    opacity: 60%;
    border-radius: 100%;
    transition: all 0.5s;
    &:hover{
        border-radius: 0%;
        opacity:100%;
    }
}