*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: "Rajdhani", sans-serif;
    line-height: 1.5;
    padding: 20px;
    .encavezado{
        color: #d87af0;
        font-family: "Smooch Sans", sans-serif;
        font-style: normal;
        font-size: 16px;
    }
    h1{
        font-family: "Smooch Sans", sans-serif;
        font-style: normal;
        font-size: 20px;
    }
    h2{
        font-family: "Smooch Sans", sans-serif;
        font-weight: 500;
        font-size: 25px;
        margin-top: 5%;
    }
}

a{
    text-decoration: none;
    color: #4f08f5;
    &:hover{
        color: #000000;
        background-color: #d87af0;
    }
}

.imagenBio {
    width: 500px;
}

.imagenEscr {
    width: 500px;
}

.escrito_poema{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-between;
    .poema_parte1{
        text-align: end;
    }
}


.imggale  {
    width: 500px;
    padding: 10px;
}
